body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  color: #333;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #444;
}

p {
  text-align: center;
  margin-bottom: 10px;
  color: #666;
}


.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px;
  width: 100%;
}

button {
  cursor: pointer;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #c6c6c6;
  cursor: not-allowed;
}

label {
  color: #555;
}

input[type="text"],
input[type="email"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  margin: 10px 0;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.top-buttons,
.bottom-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.video-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

video {
  width: 48%;
  height: 300px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

#processedVideoCanvas {
  width: 48%;
  /* or any other fitting size */
  height: 300px;
  /* maintain aspect ratio */
  border-radius: 8px;
  border: 1px solid #ddd;
}